Web Technology/Lab Report For Web Technology/Lab 4 AJAX and XML/Q3Class.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Similarly write XSD for the given class.XML file . hint: complex type. Set minOccurs=1 and maxOccurs =3 in branch element in XSD file. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="class">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="branch" type="xs:string" minOccurs="1" maxOccurs="3"/>
              <xs:element name="cgpa" type="xs:decimal"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>