Web Technology/Unit-5_Extensible_Markup_Language(XML)/Grouping.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.a.com"
    xmlns="http://www.a.com"
    elementFormDefault="qualified">
    <xs:group name="personGroup">
        <xs:sequence>
            <xs:element name="full_name" type="xs:string"></xs:element>
            <xs:element name="child_name" type="xs:string" minOccurs="0" maxOccurs="5">
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:element name="person">
        <xs:complexType>
            <xs:group ref="personGroup" maxOccurs=" unbounded"></xs:group>
        </xs:complexType>
    </xs:element>
</xs:schema>